*{
	padding: 0;
	/*margin: 0;*/
}

#menu_text{
	margin: 0;
	background-color: #d4c94e;
	text-align: center; /* text:Chữ ; align:sx vị trí*/
	padding: 80px; /* Trên Phải Dưới Trái*/
}

nav{
	background-color: #333;
	/*padding: 14px 20px ;*/
	/*margin: 30px;*/
	overflow: hidden;
}

nav a {
	color: white;
	padding: 14px 70px;
	display: block; /*Thành hàng dọc*/
	text-align: center;
	text-decoration: none; /* trang trí : Tắt*/
	/*float: left;*/ /*Thành hàng ngang và di chuyển sang trái*/
}

nav a:hover{
	background-color: #DDD; /* Đổi màu nền*/
	color: black; /* Đổi màu chữ cho tương phản với nền*/
}

.menu_left{
	float: left;
}
.menu_right{ 
	float: right;
}

#left_size{
	flex: 35%;
	background-color: #f1f1f1;
	padding: 10px 20px; 
}
#right_size{
	flex: 55%;
	padding: 10px 20px;
}
#flex_container{
	display: flex;
}

footer{
	background-color: #333;
	color: white;
	padding: 10px 20px;
	text-align: center;
}
footer a{
	color: white;
}

table{
	border-style: solid;
}

/* Table New*/
table{
	border-collapse: collapse;
}
table td , table th{
	border: 1px solid #ddd;
	padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
/* table tr:nth-child(even) dùng để tạo dòng đậm nhạt xen kẽ nhau*/
/* table tr:hover {background-color: #ddd;} */

table th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA60;
	color:white;
}



/* ###### Online Course ####### */
.course_item{
	/*width: 33%;
	float: left;*/
	text-align: center;
	flex: 33%;
}
.course_img{
	width:90% ; /* 90% của 33% */
}

#course_container{
	display: flex;
	flex-wrap: wrap;
}
.course_title{
	font-size: 120%;
	font-weight: bold;
	padding: 10px 10px;
}
.course_desc{
	margin: 0px 10px 20px 10px;
}



@media(max-width: 800px) {
	#left_size{
		flex: 100%;
	}
	#right_size{
		flex: 100%;
	}
	#flex_container{
	display: flex;
	flex-wrap: wrap;
	}
	/*.menu_right{ 
	float: right;
    }*/
    .course_item{
    	flex: 50%;
    }
}

		